@using Loquit.Data.Entities
@using Microsoft.AspNetCore.Identity;
@model Loquit.Data.Entities.AppUser;

@{
    ViewData["Title"] = "Profile";
}
@inject UserManager<AppUser> UserManager

@{
    var currentUser = await UserManager.GetUserAsync(User);
}


<div class="form-container-content">
    <div class="profile">
        <div class="profile-user d-flex flex-column">
            <span class="pfp pfp-big"><img src="~/uploads/@Model.ProfilePictureUrl" loading="lazy" /></span>
            <span class="profile-name">@Model.UserName</span>
        </div>
        <ul class="qualities">
            <li><div class="quality">Name:         </div>@Model.FirstName @Model.LastName</li>
            <li><div class="quality">E-Mail:       </div>@Model.Email</li>
            <li><div class="quality">Date of Birth:</div>@Model.DateOfBirth</li>
            <li><div class="quality">About me:     </div>@Model.Description</li>
        </ul>
        <div id="partialViewContainer" style="display:flex; justify-content: center">
            @await Html.PartialAsync("PartialViewProfile", Model)
        </div>
    </div>
</div>
