@using Loquit.Data.Entities
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Profile";
}
@inject UserManager<AppUser> UserManager

@{
    var currentUser = await UserManager.GetUserAsync(User);
}

<div class="form-container-content">
    <div class="profile">
        <div class="profile-user d-flex flex-column">
            <span class="pfp pfp-big"><img src="~/uploads/@Model.ProfilePictureUrl" loading="lazy" /></span>
            <span class="profile-name">@Model.UserName</span>
        </div>
        <ul class="qualities">
            <li><div class="quality">Name:         </div>@Model.FirstName @Model.LastName</li>
            <li><div class="quality">E-Mail:       </div>@Model.Email</li>
            <li><div class="quality">Date of Birth:</div>@Model.DateOfBirth</li>
            <li><div class="quality">About me:     </div>@Model.Description</li>
        </ul>
        @if (currentUser != null && currentUser.Id == Model.Id)
        {
            <form class="d-flex justify-content-center" asp-action="Edit" asp-controller="Profile" asp-route-username="@Model.UserName" method="post" enctype="multipart/form-data">
                <button style="margin: 0 auto" type="submit" class="highlighted-button create-post-btn btn">Edit</button>
            </form>
        }

    </div>
</div>
